<!--list of contributors will go here -->
      {{#each person in content}}
        <li><a {{action showContributor person }} href="#"><img {{bindAttr src="person.avatar_url"}}>{{person.login}}</a></li>
      {{/each}}
